	<!-- Code from W3Schools and edited to fit needs -->
	<div class="navibar">
	<a href="/">Home</a>
	<a href="/survey">Survey</a>
	<a href="/characters">Characters</a>
	<a href="/downloads">Downloads</a>
	<a href="/otherprojects">Other Projects</a>
	<a href="/about">About</a>
	</div>
<h1>PAGE NOT FOUND!</h1>