	<!-- Code from W3Schools and edited to fit needs -->
	<div class="navibar">
	<a href="/">Home</a>
	<a href="/survey">Survey</a>
	<a href="/characters">Characters</a>
	<a href="/downloads">Downloads</a>
	<a href="/otherprojects">Other Projects</a>
	<a class="active" href="/about">About</a>
	</div>
<style>
	.padbox {
		padding-top: 100px;
	}
	.box1 {
		margin-left: auto;
		margin-right: auto;
		padding: 10px;
		width: 50%;
		display: block;
		border: 3px solid #000000;
		text-align: center;
		background: orange;
		font-size: 100%;
	}
	.box2 {
		margin-left: auto;
		margin-right: auto;
		max-width: 50%;
		text-align: center;
		display: block;
		border: 3px solid #000000;
		background: orange;
		font-size: 100%;
	}
	ul {
		text-align: left;
	}
</style>
<div class="padbox"></div>
<span class="box1"><h2>Disclaimers and Citations:</h2>
<p>This game is just a project made by me for my friends (so far). As such, the art is most definitely not supposed to look professional or even good by any standard. The reason I picked this for my project was because later on in development when I receive art assets that are currently in progress, I can replace my shoddy paint art in place of them, and I can re-use this website (along with altering it with further knowledge of web design) for the game and my other actual portfolio projects.</p>
<p>All of the drawings were made entirely by me including the backgrounds in the game screenshots.</p>
<p>This website is intended to be viewed at 1920x1080 resolution. At other resolutions, pictures may appear out of place.</p>
<p>Some code was taken from W3School and reformatted for the needs of this project. I have made sure I understand what all of the code does before having used it, and I typed it up myself instead of copy-pasting it.</p></span>
<div class="padbox"></div>
<span class="box2"><h2>Special Thanks</h2>
<p>I would like to thank the following people (my friends) for letting me use their personal characters:</p>
<ul>
<li><strong>Ally Bartlett</strong>, creator of Ellie</li>
<li><strong>Erik Stolz</strong>, creator of Ember</li>
<li><strong>Jacob Williams</strong>, creator of Westra</li>
</ul>
<span>



