	<!-- Code from W3Schools and edited to fit needs -->
	<div class="navibar">
	<a href="/">Home</a>
	<a href="/survey">Survey</a>
	<a class="active" href="/characters">Characters</a>
	<a href="/downloads">Downloads</a>
	<a href="/otherprojects">Other Projects</a>
	<a href="/about">About</a>
	</div>
<style>
	.pad {
		padding:100px;
	}
	.left {
		margin-left:100px;
		margin-top: 170px;
		float:left;
		display: inline-block;
		width: 70%;
		height: 30%;
		border: 3px solid #000000;
		text-align: center;
		background: orange;
	}
	.right {
		margin-right: 100px;
		margin-top: 170px;
		float:right;
		display: inline-block;
		width: 70%;
		height: 70%;
		border: 3px solid #000000;
		text-align: center;
		background: orange;
	}
	.imgright {
		width: 20%;
		text-align: center;
	}
	.imgleft {
		width: 20%;
		text-align: center;
	}
</style>
<h1><span class="title">Characters<span></h1>
<span class="left"><h2>Dane</h2>
<p>Knight Captain Silas Dane is a bit of a clumsy man. To say he is lucky to call himself the commander of anything is an understatement. In recent years, he has been tasked with guarding a princess as a favor of King Adelaide, a job which he carries out with the utmost pride and respect for his Kingdom. His royal profession aside, however, he is a common man, making his way up the ranks to get where he is today.</p></span>
<img class="imgright" src="dane.png">
<img class="imgleft" src="ellie.png">
<span class="right"><h2>Ellie</h2>
<p>Princess Elena Adelaide is far from what one would call the friendly sort. She had been locked away in a castle for years following an unfortunate run-in with the undead, and the experience has left her far from willing to partake in a regular societal life. Thanks to her bodyguard, Dane, she has made her way outside her room and now takes regular strolls around town. Dane is never far behind, however, and she is hardly willing to put up with the small talk of a commoner.</p></span>
<span class="left"><h2>Westra</h2>
<p>Not many know about the King's Court Mage, Westra Brightwood. In fact, even upon some people being told her name for the first time, some have turned around and immediately forgotten who she was, butchering her family name in the process. For this reason among many others, she has turned to find comfort in books and magic, training herself for the day that she will finally be able to have a kingdom of her own -- that is, if any subjects are willing to put up with her.</p></span>
<img class="imgright" src="westra.png">
<img class="imgleft" src="ember.png">
<span class="right"><h2>Ember</h2>
<p>If you've ever wandered past a pub in the city of Santos, it is likely you have heard the dischordant singing voice of Ember Smith. An apprentice blacksmith by day, she spends her nights partying her life away. Not much else is known about her, but if you are really interested in finding out, she is likely to tell you as she regales you with stories of her past, present, and likely future.</p></span>

