	<!-- Code from W3Schools and edited to fit needs -->
	<div class="navibar">
	<a href="/">Home</a>
	<a href="/survey">Survey</a>
	<a href="/characters">Characters</a>
	<a class="active" href="/downloads">Downloads</a>
	<a href="/otherprojects">Other Projects</a>
	<a href="/about">About</a>
	</div>
<style>
	.box1 {
		margin-left: auto;
		margin-right: auto;
		width: 10%;
		display: block;
		border: 3px solid #000000;
		text-align: center;
		background: orange;
		font-size: 100%;
	}
	.box2 {
		margin-left: auto;
		margin-right: auto;
		width: 90%;
		display: block;
		border: 3px solid #000000;
		text-align: center;
		background: orange;
		font-size: 50%;
	}
</style>
<h1><span class="title">Downloads</span></h1>
<span><h2><a class="box1" href="https://github.com/Monduli/PaintCafe0.1Demo">Game Demo
</a><span><h2>
<span><h4 class="box2">Click a character's picture to download it!</h4></span>
<p>
<a class="link" href="dane.png" download>
  <img src="dane.png" alt="Dane">
</a>
<a class="link" href="ellie.png" download>
  <img src="ellie.png" alt="Ellie">
</a>
<a class="link" href="westra.png" download>
  <img src="westra.png" alt="Westra">
</a>
<a class="link" href="ember.png" download>
  <img src="ember.png" alt="Ember">
</a>

