	<!-- Code from W3Schools and edited to fit needs -->
	<div class="navibar">
	<a href="/">Home</a>
	<a href="/survey">Survey</a>
	<a href="/characters">Characters</a>
	<a href="/downloads">Downloads</a>
	<a class="active" href="/otherprojects">Other Projects</a>
	<a href="/about">About</a>
	</div>
<style>
	.box1 {
		margin-left: auto;
		margin-right: auto;
		width: 10%;
		display: block;
		border: 3px solid #000000;
		text-align: center;
		background: orange;
		font-size: 100%;
	}
</style>
<h1><span class="title">My Other Projects:</span></h1>
<span class="box1"><h2><a href="https://github.com/Monduli">
<img src="github.png" alt="My GitHub" style="width:100px;height:100px;">
</a><span><h2>
